name: Publish Latest Release

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - name: Build release
        run: dev release
      - name: Publish to latest
        uses: softprops/action-gh-release@v1
        with:
          tag_name: latest
          files: release/yx.zip
          prerelease: true
          body: "Unstable build from main branch"
