name: Test

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v24
      - uses: cachix/cachix-action@v15
        with:
          name: devenv
      - name: Install devenv
        run: nix profile install --accept-flake-config github:cachix/devenv/latest
      - name: Build release for installer test
        run: devenv shell bin/dev release
      - name: Run tests
        run: devenv shell shellspec
